@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --primary: #007FFF;
  --primaryDark: #17224D;
  --primaryLight: #17E9E1;
  --primaryLightAlpha: #17E9E110;
  --primaryWhite: #F5FAFA;
  --blueAlpha: #1D63DC50;
  --hover: #0080ff1e;

  --greyDark: #495057;
  --grey: #74788d;
  --greyLight: #adb5bd;

  --bg: #f8f9fa;
  --bgDark: #eff0f2;

  --red: #d1001f;
  --redAlpha: #d1001f50;

  --blue50: #eff6ff;
  --blue100: #dbeafe;
  --blue200: #bfdbfe;
  --blue300: #93c5fd;
  --blue400: #60a5fa;
  --blue500: #3b82f6;
  --blue600: #2563eb;
  --blue700: #1d4ed8;
  --blue800: #1e40af;
  --blue900: #1e3a8a;
  
  --grey50: #f8fafc;
  --grey100: #f1f5f9;
  --grey200: #e2e8f0;
  --grey300: #cbd5e1;
  --grey400: #94a3b8;
  --grey500: #64748b;
  --grey600: #475569;
  --grey700: #334155;
  --grey800: #1e293b;
  --grey900: #0f172a;
  
  --green500: #1abb78;
  --red500: #bb251a;
  
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;

}

.active {
  background-color: var(--blueAlpha);
}

.material-symbols-outlined {
  color: var(--primaryDark);
  font-size: 1.6rem;
}

.white-icon .material-symbols-outlined {
  color: var(--blue400);
  /* font-size: 6rem; */
}

.react-pdf__Page__textContent {
  visibility: hidden;
  background-color: red;
}

.pdf-icons {
  color: var(--blue400);
}